/* Bootstrap */
#navbarColor03 a {
	color: #DCDCDC;
}

#navbarColor03 a:hover {
	color: #FFF;
}

.navbar{
	border-bottom: 5px #e9ecef;
	border-bottom-style: double;
}

.navbar-light .navbar-brand{
	color: #FFF !important;
}

.navbar-brand span {
	color: #28D;
}

.navbar a:link {
	background-color: transparent;
}

.arrow-left {
	width: 2em;
	height: auto;
	display: flex;
	border: 1px solid #656565;
	border-radius: 5px;
}

.arrow-left:hover {
	border: 1px solid #28D;
}

.arrow-left a {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0.4em 0.5em;
}

header {
	margin-bottom: 3em;
	padding: 0 3em;
}

.footer {
	padding: 2em 2em;
	border-top: 5px #e9ecef;
	border-top-style: double;
}

.jumbotron {
	margin-bottom: 0rem !important;
	/*padding: 4rem 2rem;
	border-bottom: 5px #FFF;;
	border-bottom-style: double;*/
}

.container-text {
	background: #FFF;
	padding: 3em 4em;
	border: 5px double #e9ecef;
}