body {
	margin: 0;
	padding: 0;
}

#header {
	background: #196f3d;
	display: flex;
	position: relative;
	width: 100%;
}

#header span {
	color: #FFF;
}

#header h1 {
	text-transform: uppercase;
	color: black;
}

.header-container {
	margin-left: auto;
	margin-right: auto;
}

.temarios {
    width: 18em;
    border: 1px solid #dcdcdc;
    margin: 0 0.5em 1em;
    display: block;
    float: left;
}

.temarios header {
	padding: 0 9px;
	display: contents;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.temarios header a {
    text-decoration: none;
}